
@{
    ViewBag.Title = "User History";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .no-sort:after {
        display: none !important;
    }

    .no-sort {
        pointer-events: none !important;
        cursor: default !important;
    }
</style>

<ol class="breadcrumb bc-3">
    <li>
        <a href="{{UIURL}}"><i class="fa fa-home"></i>Home</a>
    </li>
    <li>
        Manage Booking
    </li>
    <li class="active">
        <strong>Booking History</strong>
    </li>
</ol>
<h2>
    Booking History
    <div class="col-sm-offset-3 pull-right">
        <a href="{{UIURL}}/user/viewbooking" class="btn btn-default">View Booking</a>
    </div>
</h2>
<br>


<div class="row" ng-controller="UserController as userCtrl">

    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-primary" data-collapsed="0" style="background-color:#0053a0; border-color: #0053a0; color:whitesmoke;">
            <div class="panel-body">

                <form role="form" class="form-horizontal" style="margin-top: 15px;" ng-submit="getUserBookingHistory(rpt)">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="from" class="col-sm-4 control-label font-white">Booking Date (From)</label>
                            <div class="col-sm-4">
                                <select name="month_start" class="form-control" ng-model="rpt.fromMonth" required>
                                    <option value="">Select Month</option>
                                    <option value="01">January</option>
                                    <option value="02">February</option>
                                    <option value="03">March</option>
                                    <option value="04">April</option>
                                    <option value="05">May</option>
                                    <option value="06">June</option>
                                    <option value="07">July</option>
                                    <option value="08">August</option>
                                    <option value="09">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" placeholder="YYYY" ng-model="rpt.fromYear" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="from" class="col-sm-4 control-label font-white">Booking Date (To)</label>
                            <div class="col-sm-4">
                                <select name="month_start" class="form-control" ng-model="rpt.toMonth" required>
                                    <option value="">Select Month</option>
                                    <option value="31/01">January</option>
                                    <option value="28/02">February</option>
                                    <option value="31/03">March</option>
                                    <option value="30/04">April</option>
                                    <option value="31/05">May</option>
                                    <option value="30/06">June</option>
                                    <option value="31/07">July</option>
                                    <option value="31/08">August</option>
                                    <option value="30/09">September</option>
                                    <option value="31/10">October</option>
                                    <option value="30/11">November</option>
                                    <option value="31/12">December</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" placeholder="YYYY" ng-model="rpt.toYear" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="payment-type" class="col-sm-4 control-label font-white">Payment Type</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="rpt.paymentType" required>
                                    <option value="">Select Payment Type</option>
                                    <option value="C">Credit Card</option>
                                    <option value="U">Maybank2U</option>
                                    <option value="B">MyBSN</option>
                                    <option value="D">Ipay88</option>
                                    <option value="L">Ledger</option>
                                    <option value="A">All</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="status" class="col-sm-4 control-label font-white">Status</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="rpt.status" required>
                                    <option value="">Select Status</option>
                                    <option value="S">Successful</option>
                                    <option value="U">Unsuccessful</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-8 col-sm-4">
                            <button type="submit" class="btn btn btn-warning" style="color:black;"><i class="glyphicon glyphicon-search"></i> Search</button>
                            <button type="reset" class="btn btn-success"><i class="glyphicon glyphicon-refresh"></i> Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-content-box">

                <div style="padding:20px 0px 60px 0px">
                    <span class="col-md-1" style="font-weight:bold">Search</span>
                    <span class="col-md-3">
                        <input type="text" class="form-control ng-valid ng-dirty" ng-model="search">
                    </span>
                </div>
                <table class="table table-bordered font-black" dt-options="dtOptionsExport">

                    <thead>
                        <tr>
                            <th>Tran. Date</th>
                            <th>Ref ID</th>
                            <th>Ticket ID</th>
                            <th>Train No.</th>
                            <th>Fare (MYR)</th>
                            <th>Departure</th>
                            <th>Arrival</th>
                            <th>User Id</th>
                            <th>Print Ticket</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="res in result.userRepList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter: search">
                            <td>{{res.TWT_BOOKING | date:'dd/MM/yyyy' | limitTo : 16}}</td>
                            <td style="width:85px">{{res.TWT_REFID}}</td>
                            <td>{{res.TWT_TICKETID}}</td>
                            <td>{{res.TWT_TRAIN}}</td>
                            <td>{{res.Jumlah}}</td>
                            <td>{{res.TWT_DEPARTURE}}</td>
                            <td>{{res.TWT_ARRIVAL}}</td>
                            <td>{{res.TWT_USERID}}</td>
                            <td>
                                <a href="{{UIURL}}/ticket/print/{{res.TWT_REFID}}" target="_blank"><i class="fa fa-print"></i> Reprint Ticket</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm pull-right" boundary-links="true" rotate="false"></ul>
            </div>
        </div>
    </div>
    <br />
</div>
