
@{
    ViewBag.Title = "View Booking";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div ng-controller="UserController as userCtrl" ng-init="checkAccess()"></div>
<div ng-controller="UserController as userCtrl">
    <ol class="breadcrumb bc-3">
        <li>
            <a href="{{UIURL}}"><i class="fa fa-home"></i>Home</a>
        </li>
        <li>
            Manage Booking
        </li>
        <li class="active">
            <strong>View Booking </strong>            
        </li>
    </ol>
    <h2>View Booking 
        <div class="col-sm-offset-3 pull-right">
            <a href="{{UIURL}}/user/userhistory" class="btn btn-default">Booking History</a>
        </div>
    </h2>

    <br>

    <div class="row">
        <div class="col-md-12" ng-init="getBooking()">
            <table datatable="ng" dt-options="dtOptions" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Reference Id </th>
                        <th>Ticket Id</th>
                        <th>Booking Date</th>
                        <th>Departure</th>
                        <th>Arrival</th>
                        <th>Origin</th>
                        <th>Destination</th>
                        <th>Train No</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="booking in bookingList | orderBy :'+RefId'">
                        <td style="width:85px">{{booking.RefId}}</td>
                        <td>
                            <span ng-repeat="ticket in booking.TicketList">
                                {{ticket.TicketId}}<br />
                            </span>
                        </td>
                        <td>
                            <span ng-repeat="ticket in booking.TicketList">
                                {{ticket.TarikhBook | date:'dd/MM/yyyy' | limitTo : 16}} <br />
                            </span>
                        </td>
                        <td>
                            <span ng-repeat="ticket in booking.TicketList">
                                {{ticket.Departure}}<br />
                            </span>
                        </td>
                        <td>
                            <span ng-repeat="ticket in booking.TicketList">
                                {{ticket.Arrival}}<br />
                            </span>
                        </td>
                        <td>
                            <span ng-repeat="ticket in booking.TicketList">
                                {{ticket.Origin}}<br />
                            </span>
                        </td>
                        <td>
                            <span ng-repeat="ticket in booking.TicketList">
                                {{ticket.Destination}}<br />
                            </span>
                        </td>
                        <td>
                            <span ng-repeat="ticket in booking.TicketList">
                                {{ticket.TrainNo}}<br />
                            </span>
                        </td>
                        <td>
                            <a href="{{UIURL}}/ticket/print/{{booking.RefId}}" target="_blank"><i class="fa fa-print"></i> Reprint Ticket</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
